@import url(https://fonts.googleapis.com/css?family=Open+Sans|Playfair+Display:400,700,400italic,700italic&subset=latin,cyrillic);
#* {box-sizing: border-box;}
body {margin: 0;}
.post {
  width: 60%;
  margin: 30px auto 0;
}
img {
  #width: 100%;
  #max-width: 100%;
  height: auto;
}
.post-container {
  width: 100%;
  padding: 30px;
}
h1 {
  margin: 15px 0;
  font-size: 23px;
  text-align: center;
  letter-spacing: 1px;
  #color: #ff871d;
  font-weight: 700;
  text-transform: uppercase;
  #text-shadow: #000 1px 1px 1px;
}
h8 {
  margin: 15px 0;
  font-size: 50px;
  #text-align: center;
  letter-spacing: 1px;
  color: #ffdd76;
  font-weight: 700;
  #text-transform: uppercase;
  text-shadow: #000 2px -1px 5px;
}
h6 {
color:#595959;
text-align:right;
#text-transform:uppercase;
margin: revert;
}
h7 {
font-size: 19px;
margin: revert;
letter-spacing: 1px;
font-weight: 700;
text-transform: uppercase;
color: #9c4896;
text-align: right;
}
h3 {
  margin: 0;
  color: #e3724a;
  #font-style: italic;
  #letter-spacing: 1px;
  text-align: left;
}
h4 {
	top: 10px;
position: relative;
  margin: 15px 0;
  #letter-spacing: 1px;
  text-align: right;
  color: #3e7ba0;
  #text-shadow: #000 1px 1px 1px;
}
h5 {
  margin: 15px 0;
  font-size: 16px;
  text-align: left;
  letter-spacing: 1px;
  #text-transform: uppercase;
  #text-shadow: #000 1px 1px 1px;
  margin-left: 10px;
}
h2 {
  text-align: left;
letter-spacing: 1px;
color: #9c4896;
font-size: 40px;
  #text-shadow: #000 1px 1px 1px;
}
@media all and (max-width: 1470px) and (min-width: 0px){
h8 {
font-size: 12px;
}
h1 {
font-size: 12px;
margin-top: 90px;
}
}
@media all and (max-width: 700px) and (min-width: 0px){
h1 {
font-size: 12px;
}
h8 {
font-size: 16px;
}
h8 {
font-size: 25px;
}
h2 {
font-size: 25px;
}
h2 small{
font-size: 14px;
}
h3 {
  font-size: 14px;
}
h4 {
  font-size: 15px;
}
h5 {
  text-transform: none;
  letter-spacing: 0px;
  font-size: 14px;
}
}

h3 a {
  color: #c2a77a;
}

.post-info {
  padding-top: 35px;
}

@font-face{
font-family: 'Roboto-Regular';
src: url('../fonts/Roboto-Regular.ttf');
font-style: normal; 
font-weight: normal; 
font-display: swap;
}
